/* Custom CSS classes used in the index */

.big-title {
    font-size: 5rem !important;
}

.dedication {
    font-size: 0.7rem !important;
    font-style: italic;
    color: var(--theme-color, #42b983);
    margin-top: 20px;
    margin-bottom: -2%;
}
